body{
    margin: 0;
    
}
.main1{
    width: 470px;
    height: 20px;
    
    
}
.main-item2{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    background: gray;
    text-align: center;

}
.main-item1{
    float: left;
    width: 80px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
    background: gray;
}
    
.main2{
    width: 100px;
    height: 150px;
}

a:hover{
    color: firebrick
}
[time="world"]
a:visited{
    color: chartreuse;
}
a:active{
    color: fuchsia;
}
.clear{
    clear: both;
}

